body {
    background-color: #222;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  #board {
    display: flex;
    flex-wrap: wrap;
    width: 780px;
    margin: 0 auto;
    margin-top: 60px;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px;
  }
  
  .square {
    width: 254px;
    height: 254px;
    background-color: #333;
    border-radius: 5px;
    margin: 3px;
    cursor: pointer;
    font-size: 220px;
    align-items: center;
    vertical-align: center;
  }
  
  .square:hover {
    background-color: #444;
  }
  
  .square.marked {
    background-color: #666;
    cursor: default;
  }
  
  #reset {
    font-size: 2.2em;
    margin-top: 20px;
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    width: 254px;
  }
  
  #reset:hover {
    background-color: #777;
  }